/*-- scss:defaults --*/

// Colors

$darkblue: #053660;
$dark-green: #1b5c41; 
$grey-foam: #69978f;
$white-green: #D1D9CE;
$teal: #147C91;
$darkgray: #333333;
$ponyo: #E84C4F;
$ponyo-sky: #379AAF;
$white: #FFFFFF;
$cream: #FDFBF7;
$garden: #B9C297;
$celadon: #AFE1AF;
$light-green: #DAF7A6;
$rich-green: #142a0c;
$mint-green-light: #79bd8f;
$sage-green: #4B7D4E;
$sams-sage-green-light: #D1D9CE;
$sams-sage-green-dark: #98A08D;
$darkest-green: #131f14;
$another-sage-green: #658067;
$chaparral1: #D3E3CA;
$chap2: #BED6B3;
$chap3: #92A587;
$chap4: #4A5438;
$chap5: #2F3525;

// base document Colors

$navbar-bg: $another-sage-green; // navbar
$navbar-fg: $cream; // navbar foreground elements
$navbar-hl: $garden; // highlight color when hovering over navbar links
$body-bg: $white; // page background 
$body-color: $darkgray; // page text 
$footer-bg: $rich-green; // footer 
$link-color: $teal; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
// $code-color: $purple; // inline code text color


// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,550;0,600;0,650;0,700;1,200;1,400&display=swap');



/*-- scss:rules --*/

h1 {
  letter-spacing: 4px;
  font-weight: 650;
  color: $dark-green;
}

h2 {
  letter-spacing: 2px;
  font-weight: 550;
  color: $another-sage-green;
}


h3 {
  font-weight: 450;
  color: $dark-green;
 // font-size: 35px;
}

h4 {
  font-weight: 400;
  color: $dark-green;
 // font-size: 35px;
}

body {
  line-height: 1.5; // min 1.5 suggested for assistive tech
  font-size: 19.5px;
}


.title {
  color: $rich-green;
  font-weight: 700;
  line-height: 2.0;

}


.center-text {
  text-align: center;
}

// listing description text styling
.description {
  font-size: 25px;
}

/*-- use vars in CSS rules (we'll learn more about how to write CSS soon!) --*/
